.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}
.about__contact{
  display : flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin: 1em;
}
.profile-photo{
  z-index: 999;
}
.profile-photo:hover{
  transform : translateY(-4px)
}
@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
    align-items: center !important;
    text-align: center;
  }
  .about__role{
    font-size: 25px;
  }
  .about h1{
    font-size: 30px;
    margin-top: 2rem
  }
}
